body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.orange-color{
    color: orange;
}
.diet-item img{
    max-width: 100%;
}

.diet-item{
    width: 50%;
    padding-left: 30px;
    margin-top: 5%;
}
.diet-item h2 {
    font-size: 40px;
    font-weight: 700;
}

.diet-item p {
    width: 64%;
    color: gray;
    line-height: 24px;
    word-spacing: 3px;
}

.diet-item a {
    text-decoration: none;
    color: #fff;
    background: tomato;
    padding: 18px 36px;
    border-radius: 30px;
}

.diet-item p {
    margin-bottom: 40px;
    margin-top: 46px;
}
.aboutMe{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.about-image {
    width: 50%;
}
.about-image img {
    max-width: 60%;
    max-height: 67%;
    margin-left: 34%;
    margin-top: 5%;
}

.about-text {
    width: 50%;
}
.about-text h1 {
    color: #222222b5;
    font-size: 39px;
}

.about-text p {
    text-align: justify;
    line-height: 29px;
    width: 67%;
    margin-bottom: 44px;
}

.about-text a {
    text-decoration: none;
    color: white;
    background: tomato;
    padding: 16px 34px;
    border-radius: 30px;
}
.myRecipies h1 {
    text-align: center;
    color: #222222bf;
    font-size: 37px;
}
.myRecipies p {
    text-align: center;
    width: 44%;
    margin: auto;
    line-height: 25px;
}
.recipie-item {
    width: 50%;
    box-shadow: 10px 10px 17px #808080b8;
    border-radius: 39px;
    margin-right: 37px;
    margin-left: 31px;
    margin-top: 35px;
}

.recipie-item img {
    max-width: 75%;
    margin-top: 43px;
    margin-left: 11%;
}
.recipie-item h1 {
    color: black;
    font-size: 27px;
    text-align: left;
    padding-left: 69px;
}

.recipie-item p {
    line-height: 25px;
    width: 73%;
    text-align: justify;
    padding-bottom: 23px;
}
.wrapper {
    text-align: center;
}

.chose-item {
    margin: auto;
}
.counter {
    box-shadow: 1px 2px 12px #808080c9;
    border-radius: 9px;
    width: 1120px;
    margin: auto;
    padding: 26px;
}

.chose-item h1 {
    font-size: 38px;
    color: black;
    font-weight: 700;
}

.chose-item span {
    font-size: 16px;
}
.footer {
    background: black;
}
.footer {
    text-align: center;
    margin-top: 80px;
    padding-top: 36px;
    padding-bottom: 80px;
}

footer.footer h1 {
    color: gray;
}

footer.footer p {
    color: white;
}